.mouse
  position: absolute
  width: 20px
  height: 38px
  bottom: 40px
  left: 50%
  margin-left: -12px
  border-radius: 15px
  border: 2px solid #888
  animation: intro 1s

.scroll
  display: block
  width: 3px
  height: 3px
  margin: 6px auto
  border-radius: 4px
  background: #888
  animation: finger 1s infinite

@keyframes intro
  0%
    opacity: 0
    transform: translateY(40px)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes finger
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translateY(20px)