//fontes
@import url('https://fonts.googleapis.com/css?family=Roboto')
@font-face
  font-family: "Segoe UI"
  src: url('../../fonts/SegoeUI.eot')
  src: url('../../fonts/SegoeUI.ttf')
  src: url('../../fonts/SegoeUI.woff')

//import de arquivos SCSS
@import "../imports/_scroll-animation"

//variaveis gerais site
$color-primary: #6b2c2f
$color-secundary: #95989a
$color-title: #616161
$color-background: #f2f2f2
$color-names: #474747
$font-titulo: 'Roboto', sans-serif

body
  font-family: $font-titulo !important
  height: 100%
  margin: 0
  padding: 0

.wrapper
  width: 100%
  height: 100%

.topbar
  width: 100%
  padding-top: 40px
  position: absolute
  align-self: flex-start

.top-icons
  img
    max-width: 30px

.home
  background: $color-background
  color: $color-secundary
  height: 100vmin
  display: flex
  justify-content: center
  align-items: center

.header
  height: 100vmin

.subtitulo
  color: $color-secundary

.titulo
  font-family: "Segoe UI"
  color: $color-title
  font-size: 38px
  font-weight: bold
  margin-bottom: 50px

.descricao
  font-size: 18px
  color: $color-secundary
  margin-bottom: 1em

.logo
  h1
    margin-top: 1em
    font-family: $font-titulo

.gplay
  opacity: 0.4

.img-topo
  background: url("../../img/background.png") no-repeat center
  background-size: 100%
  min-width: 900px
  min-height: 275px
  img
    max-width: 450px

.logo-img
  max-width: 180px

.divider-red
  width: 100px
  border: 1px $color-primary solid
  margin-top: 2em

.form-email
  margin-top: 5em
  max-width: 934px
  input
    height: 35px
    border-radius: 4px
    border-color: #95989A
  .form-control:focus
    border-right: none
    border-color: #95989A !important
    box-shadow: none
  button
    height: 35px
    background: #ffffff
    border: 1px solid #95989A
    border-left: none
    outline: none !important
    img
      width: 25px
  button:focus
    border-color: #95989A

.icon-mouse
  align-self: flex-end
  position: absolute

.item-app-container
  margin-top: 10em

.divider
  border-bottom: 2px $color-secundary solid
  width: 100px

.telas-container
  margin-top: 10em

.telas
  padding: 5em
  background: #f2f2f2

.titulo-descricao
  font-family: "Segoe UI"
  font-size: 35px
  font-weight: bold
  margin-bottom: 50px

.img-container-right
  display: flex !important
  max-height: 509px
  justify-content: flex-end

.img-container-left
  display: flex
  max-height: 509px
  justify-content: flex-start
  .item-1
    width: 100%
    max-height: 509px
    align-self: center
    position: absolute
    img
      margin-left: 10em

.item-1
  width: 100%
  max-height: 509px
  align-self: center
  position: absolute
  z-index: 1
  img
    margin-right: 10em

.item-2
  max-height: 430px
  align-self: center
  z-index: 0


.coments
  h2
    color: $color-names
    font-size: 25px
    margin-bottom: 1em
  small
    color: $color-secundary
    font-size: 50px
    font-weight: bold
  p
    font-size: 20px
    color: $color-primary
    margin-bottom: 1em
  .wtf
    color: $color-secundary

.container-desenvolvedores
  position: relative
  overflow: hidden

.container-desenvolvedores:hover .img-dev
  filter: blur(3px)

.container-desenvolvedores:hover .sociais
  -webkit-transform: translate(0px, -100%)
  -moz-transform: translate(0px, -100%)
  -ms-transform: translate(0px, -100%)
  -o-transform: translate(0px, -100%)
  transform: translate(0px, -100%)

.sociais
  transition: .16s cubic-bezier(0, 0, 0, 2) 0.5s, transform 0.3s
  width: 100%
  height: 100%
  position: absolute
  display: flex
  justify-content: center
  align-items: center

.sociais-list
  width: 100%
  max-height: 40px
  li
    max-width: 55px

.info-desenvolvedores
  h2
    color: $color-names
  small
    color: $color-primary

footer
  padding: 1em
  background: $color-background

.back-top
  background: #ffffff
  outline: none
  border: none

.socials-footer
  margin-bottom: 0
  li
    max-width: 35px

//stilo sliders
.telas-slider > .owl-stage-outer > .owl-stage > .owl-item
  padding: 30px

.telas-slider > .owl-stage-outer > .owl-stage > .center
  -webkit-transform: scale(1.2) !important
  -moz-transform: scale(1.2) !important
  -ms-transform: scale(1.2) !important
  -o-transform: scale(1.2) !important
  transform: scale(1.2) !important

.slider-comentarios > .owl-stage-outer > .owl-stage > .owl-item img
  max-width: 70px
  margin: 0 auto
  filter: grayscale(100%) brightness(150%)

.slider-comentarios > .owl-stage-outer > .owl-stage > .owl-item
  padding: 80px 0

.slider-comentarios > .owl-stage-outer > .owl-stage > .center img
  -webkit-transform: scale(1.2) !important
  -moz-transform: scale(1.2) !important
  -ms-transform: scale(1.2) !important
  -o-transform: scale(1.2) !important
  transform: scale(1.2) !important

.slider-comentarios > .owl-stage-outer > .owl-stage > .center img
  max-width: 100px
  -webkit-filter: grayscale(0)
  filter: grayscale(0)

.slider-comentarios > .owl-nav
  max-width: 100px

.owl-nav
  max-width: 470px
  margin: auto
  overflow: auto
  .owl-prev
    width: 34px
    height: 20px
    content: '' !important
    background: url("../../img/slider/prev.png") no-repeat
    float: left
  .owl-next
    width: 34px
    height: 20px
    content: '' !important
    background: url("../../img/slider/next.png") no-repeat
    float: right

//Utils
.margin-top-5
  margin-top: 5px

.margin-top-10
  margin-top: 10px

.margin-top-20
  margin-top: 20px

.margin-top-30
  margin-top: 30px

.margin-top-40
  margin-top: 40px

.margin-top-50
  margin-top: 50px

.margin-top-60
  margin-top: 60px

.margin-bottom-5
  margin-bottom: 5px

.margin-bottom-10
  margin-bottom: 10px

.margin-bottom-20
  margin-bottom: 20px

.margin-bottom-30
  margin-bottom: 30px

.margin-bottom-40
  margin-bottom: 40px

.margin-bottom-50
  margin-bottom: 50px

//CSS para responsivo
@media screen and (max-width: 992px)
  .home
    height: 75%
    display: block

  .topbar
    position: unset

  .logo
    padding: 10px

  .form-email
    margin-top: 3em
    h3
      font-size: 18px
    .btn
      img
        width: 18px

  .phone-responsive
    position: absolute
    margin-top: 5em

  .item-app-container
    margin-top: 3em

  .titulo-descricao
    text-align: center

  .titulo
    text-align: center
    font-size: 30px

  .descricao
    text-align: center

  .img-container-right
    display: none !important

  .img-container-left
    display: none !important

  .telas
    padding: 1em  1em 0 1em